@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Planetary-Blue: #00b2cd;
  --recentnews-color: #ca433c;
  --header-color: #3b4559;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-planetary-blue: var(--Planetary-Blue);
  --color-recentnews-color: var(--recentnews-color);
  --color-header-color: var(--header-color);
  --font-nunito: var(--font-nunito-sans);
  --font-space: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito-sans), sans-serif;
}

.font-space {
  font-family: var(--font-space-grotesk), sans-serif;
}
